/*General*/
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

#home, #about {
  height: 100vh;
  width: 100vw;
  padding: 0 25px;
}

#contact {
  height: 30vh;
  width: 100vw;
  padding: 0 25px;
}

#centered{
  text-align: center;
}

h1 {
  background: none;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center-column {
  margin: 0 auto;
}

.is-outlined {
  background: none;
}

@media (max-height: 570px) {
  .arrow {
    display: none !important;
  }

  h1 {
    font-size: 24px !important;
  }

  p {
    font-size: 18px !important;
  }
}

@media (min-width: 571px) {
  h1, p {
    font-size: 1rem;
  }
}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 10px);}
    to {-webkit-transform: translate(0, -0px);    }
}

@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 10px);}
    to {-moz-transform: translate(0, -0px);}
}

.arrow {
  display: block;
  margin: 0 auto;
}

.arrow:hover {
  -webkit-animation-name: Floatingx;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
}
/*End general styles*/

/*Section 1*/

#home {
  background: url(images/header.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
  border-bottom: 5px solid rgba(0, 0, 0, 0.1);
  min-height: 560px;
  min-width: 320px;
  max-width: 100%;
}

nav {
  background-color: transparent !important;
  height: 10%;
}

#nav-link {
  font-size: 12px;
  margin-top: 10px;
}

#info {
  height: 75%;
  padding: 0 30px;
}

/*End Section 1*/

/*Section 2*/
#about {
  background: url(images/blueprint.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
  border-bottom: 15px solid rgba(0, 0, 0, 0.1);
  min-height: 700px;
  min-width: 320px;
  max-width: 100%;
}

#about-title {
  height: 25%;
}

#twabouto-body {
  height: 60%;
}

#about img {
  padding-bottom: 5px;
}

@media (max-width: 768px) {
  #about img {
    display: none;
  }
}
/*End Section 2*/

/*Section 3*/
#contact {
  background: url(images/hands.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
  min-height: 200px;
  min-width: 320px;
  max-width: 100%;
}

#contact h1, #contact p {
  color: white !important;
}

#contact .columns {
  height: 100%;
}
/*End Section 3*/
